@model List<TheHouseOfDelightV1.DbModel.Food>
@{
    ViewData["Title"] = "Admin1";
}

    <a href="/admin1/AddNew/" class="btn btn-primary">Add New</a>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Prep Time</th>
                <th scope="col">Cook Time</th>
                <th scope="col">Total Time</th>
                <th scope="col">Servings</th>
                <th scope="col">Edit|Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.PrepTime</td>
                <td>@item.CookTime</td>
                <td>@item.TotatTime</td>
                <td>@item.Servings</td>



                <td>
                    <a href="/admin1/edit/@item.ID" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-primary">Delete</button>

                </td>
            </tr>
            
        }


            </tbody>



        </table>


