@model List<TheHouseOfDelightV1.DbModel.Users>
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>


<a href="/Users/AddNewUser/" class="btn btn-primary">Add New User</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">City</th>
            <th scope="col">Edit|Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>@item.City</td>


                <td>
                    <a href="/Users/EditUser/@item.ID" class="btn btn-primary">Edit</a>
                    <button type="button" id="btnDeleteUsers" class="btn btn-primary btnDeleteUsers" data-usersid="@item.ID">Delete</button>

                </td>
            </tr>

        }

    </tbody>
</table>


<div>
    <form id="DeleteUsersForm" method="post" action="/Users/DeleteUsers">
        <input type="hidden" id="idField" name="ID" value="0" />

    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>

    $(document).ready(function () {


        $(".btnDeleteUsers").click(function () {
            var IdOfUsers = $(this).data("usersid");
            $("#idField").val(IdOfUsers);
            if (confirm('Are you sure to delete Users?')) {
                $("#DeleteUsersForm").submit();
            }
         });

});
</script>

